[Fleet]
Slot0 = arisk
Slot1 = chmav
Slot2 = clapi
Slot3 = dakvi
Slot4 = dooco
Slot5 = earcr
Slot6 = exqen
Slot7 = harra
Slot8 = herex
Slot9 = kohma
Slot10 = ktacr
Slot11 = kzedr
Slot12 = lk_sa
Slot13 = mycpo
Slot14 = orzne
Slot15 = owavo
Slot16 = pkufu
Slot17 = plopl
Slot18 = spael
Slot19 = syrpe
Slot20 = utwju
Slot21 = vyrin
Slot22 = vuxin
Slot23 = xchex
Size = 24
Title = Star Control 3 Ships
